<h1>DEVISE TEST</h1>
<% if  user_signed_in? %>
    <p><%= current_user.email %></p>
<% else %>
    <p> Powinieneś się zalogować</p>
<% end %>
<br/>
<<<<<<< HEAD
<%= user_signed_in? %>
<br/><br/>

<p> test Heroku git remote</p>
=======
<h2> HEROKU TEST </h2>
<%= user_signed_in? %>
>>>>>>> 7b081d19ca20966eb307aa358b78436e9a5d1e42
