<div style="text-align:center">
    <h2><%= t 'welcome' %></h2>
    <p><%= t 'services_html' %> </p>
</div>

<h1>DEVISE TEST</h1>
<% if  user_signed_in? %>
    <p><%= current_user.email %></p>
<% else %>
    <p> Powinieneś się zalogować</p>
<% end %>
<br/>
<%= user_signed_in? %>
<br/><br/>


<p> test Heroku git remote</p>
<br/><br/>
<p>TEst new BRUNCH</p>
