<h1>DEVISE TEST</h1>
<% if  user_signed_in? %>
    <p><%= current_user.email %></p>
<% else %>
    <p> Powinieneś się zalogować</p>
<% end %>
<br/>
<%= user_signed_in? %>
<br/><br/>

<p> test Heroku git remote</p>