<H1> TEST PAGINATION </H1>
<h4>Ilość Państw: <%= @countriest.size %></h4>
<div calss="container">
    <div class="container row">
        <% @countries.each_with_index do |country| %>
            <div class="col-md-3">
                <%= country.country_en %>
            </div>
        <% end %>
        <%= paginate @countries %>
    </div>
</div>